<a href="https://colab.research.google.com/github/MadhavSharma-1/CE888-In-vehicle-coupon-recommendation-/blob/main/data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Importing Packages**

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

df = pd.read_csv('in-vehicle-coupon-recommendation.csv')
df.head()

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,0
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,1
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12684 entries, 0 to 12683
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   destination           12684 non-null  object
 1   passanger             12684 non-null  object
 2   weather               12684 non-null  object
 3   temperature           12684 non-null  int64
 4   time                  12684 non-null  object
 5   coupon                12684 non-null  object
 6   expiration            12684 non-null  object
 7   gender                12684 non-null  object
 8   age                   12684 non-null  object
 9   maritalStatus         12684 non-null  object
 10  has_children          12684 non-null  int64
 11  education             12684 non-null  object
 12  occupation            12684 non-null  object
 13  income                12684 non-null  object
 14  car                   108 non-null    object
 15  Bar                   12577 non-null  object
 16  CoffeeHouse           12467 non-null  object
 17  CarryAway             12533 non-null  object
 18  RestaurantLessThan20  12554 non-null  object
 19  Restaurant20To50      12495 non-null  object
 20  toCoupon_GEQ5min      12684 non-null  int64
 21  toCoupon_GEQ15min     12684 non-null  int64
 22  toCoupon_GEQ25min     12684 non-null  int64
 23  direction_same        12684 non-null  int64
 24  direction_opp         12684 non-null  int64
 25  Y                     12684 non-null  int64
dtypes: int64(8), object(18)
memory usage: 2.5+ MB

In [3]:
df.nunique()

destination              3
passanger                4
weather                  3
temperature              3
time                     5
coupon                   5
expiration               2
gender                   2
age                      8
maritalStatus            5
has_children             2
education                6
occupation              25
income                   9
car                      5
Bar                      5
CoffeeHouse              5
CarryAway                5
RestaurantLessThan20     5
Restaurant20To50         5
toCoupon_GEQ5min         1
toCoupon_GEQ15min        2
toCoupon_GEQ25min        2
direction_same           2
direction_opp            2
Y                        2
dtype: int64

In [ ]:
df.shape

(12684, 26)

In [ ]:
df.isnull().sum()

destination                 0
passanger                   0
weather                     0
temperature                 0
time                        0
coupon                      0
expiration                  0
gender                      0
age                         0
maritalStatus               0
has_children                0
education                   0
occupation                  0
income                      0
car                     12576
Bar                       107
CoffeeHouse               217
CarryAway                 151
RestaurantLessThan20      130
Restaurant20To50          189
toCoupon_GEQ5min            0
toCoupon_GEQ15min           0
toCoupon_GEQ25min           0
direction_same              0
direction_opp               0
Y                           0
dtype: int64

## **Dropping un-necessary columns**

In [4]:
df = df.drop(['car','direction_opp'], axis=1)

##**Encoding gender & Renaming direction_same to direction**

In [5]:
## Grouping similar type of data 

binary_attributes = df[['gender','has_children','direction_same']]

#Encoding gender (Male : 1, Female : 0)
lb = LabelEncoder()
binary_attributes['gender'] = lb.fit_transform(binary_attributes['gender'])

#Renaming direction_same column as direction (Same : 1, Opposite : 0)
binary_attributes = binary_attributes.rename(columns={'direction_same' : 'direction'})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

##**Encoding Ordinal attributes**

In [6]:
ordinal_attributes = df[['income','education','age','time','expiration']]

def ordinal_encoding(x, order_list):
    ordinal_attributes[x] = ordinal_attributes[x].astype('category')
    ordinal_attributes[x] = ordinal_attributes[x].cat.reorder_categories(
        new_categories=order_list,
        ordered=True
    )

    return pd.Series(ordinal_attributes[x].cat.codes, name=x)

In [7]:
ordinal_attributes['income'].unique()

array(['$37500 - $49999', '$62500 - $74999', '$12500 - $24999',
       '$75000 - $87499', '$50000 - $62499', '$25000 - $37499',
       '$100000 or More', '$87500 - $99999', 'Less than $12500'],
      dtype=object)

In [8]:
ordinal_attributes['education'].unique()

array(['Some college - no degree', 'Bachelors degree',
       'Associates degree', 'High School Graduate',
       'Graduate degree (Masters or Doctorate)', 'Some High School'],
      dtype=object)

In [9]:
ordinal_attributes['time'].unique()

array(['2PM', '10AM', '6PM', '7AM', '10PM'], dtype=object)

In [10]:
ordinal_attributes['age'].unique()

array(['21', '46', '26', '31', '41', '50plus', '36', 'below21'],
      dtype=object)

In [11]:
ordinal_attributes['expiration'].unique()

array(['1d', '2h'], dtype=object)

In [12]:
ordinal_attributes = ordinal_attributes.dropna()

In [13]:
Income = ['Less than $12500', '$12500 - $24999', '$25000 - $37499', '$37500 - $49999', '$50000 - $62499', '$62500 - $74999', '$75000 - $87499', '$87500 - $99999', '$100000 or More']
Education = ['Some High School','High School Graduate', 'Some college - no degree', 'Associates degree', 'Bachelors degree', 'Graduate degree (Masters or Doctorate)']
Age = ['below21', '21', '26', '31', '36', '41', '46', '50plus']
Time = ['7AM', '10AM', '2PM', '6PM', '10PM']
Expiration = ['2h', '1d']


Income= ordinal_encoding('income', Income)
Education = ordinal_encoding('education', Education)
Age = ordinal_encoding('age', Age)
Time = ordinal_encoding('time', Time)
Expiration = ordinal_encoding('expiration', Expiration)

In [14]:
#Reordering for encoding
P = df[['Bar','CoffeeHouse','CarryAway','RestaurantLessThan20','Restaurant20To50']]

p_order = {'never': 0, 'less1': 1,'1~3': 2, '4~8': 3, 'gt8': 4}
for col in P:
    P[col] = P[col].map(p_order, na_action='ignore')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
P = P.dropna()

##Encoding sets of Nominal attributes

In [16]:
Q = df[['destination', 'passanger', 'weather', 'coupon', 'maritalStatus', 'occupation']]
Q = pd.get_dummies(Q)

In [17]:
Q

,destination_Home,destination_No Urgent Place,destination_Work,passanger_Alone,passanger_Friend(s),passanger_Kid(s),passanger_Partner,weather_Rainy,weather_Snowy,weather_Sunny,...,occupation_Management,occupation_Office & Administrative Support,occupation_Personal Care & Service,occupation_Production Occupations,occupation_Protective Service,occupation_Retired,occupation_Sales & Related,occupation_Student,occupation_Transportation & Material Moving,occupation_Unemployed
0,0,1,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1,0,1,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,0,1,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
3,0,1,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
4,0,1,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12679,1,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,1,0,0,0
12680,0,0,1,1,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
12681,0,0,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
12682,0,0,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
12683,0,0,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0

In [18]:
Coupon_est = df[['toCoupon_GEQ15min', 'toCoupon_GEQ25min']].to_numpy()
t = np.sum(Coupon_est, axis=1)
Coupon_est_final = pd.Series(data=np.sum(Coupon_est, axis=1), name='Coupon_est')

##**Concat all encoded subsets**

In [19]:
Final_df = pd.concat(
    [binary_attributes,
     Income,
     Education,
     Age,
     Time,
     Expiration,
     P,
     Q,
     Coupon_est_final,
     df['Y']],
     axis=1
)

In [20]:
Final_df.isnull().sum()

gender                                                    0
has_children                                              0
direction                                                 0
income                                                    0
education                                                 0
age                                                       0
time                                                      0
expiration                                                0
Bar                                                     605
CoffeeHouse                                             605
CarryAway                                               605
RestaurantLessThan20                                    605
Restaurant20To50                                        605
destination_Home                                          0
destination_No Urgent Place                               0
destination_Work                                          0
passanger_Alone                                           0
passanger_Friend(s)                                       0
passanger_Kid(s)                                          0
passanger_Partner                                         0
weather_Rainy                                             0
weather_Snowy                                             0
weather_Sunny                                             0
coupon_Bar                                                0
coupon_Carry out & Take away                              0
coupon_Coffee House                                       0
coupon_Restaurant(20-50)                                  0
coupon_Restaurant(<20)                                    0
maritalStatus_Divorced                                    0
maritalStatus_Married partner                             0
maritalStatus_Single                                      0
maritalStatus_Unmarried partner                           0
maritalStatus_Widowed                                     0
occupation_Architecture & Engineering                     0
occupation_Arts Design Entertainment Sports & Media       0
occupation_Building & Grounds Cleaning & Maintenance      0
occupation_Business & Financial                           0
occupation_Community & Social Services                    0
occupation_Computer & Mathematical                        0
occupation_Construction & Extraction                      0
occupation_Education&Training&Library                     0
occupation_Farming Fishing & Forestry                     0
occupation_Food Preparation & Serving Related             0
occupation_Healthcare Practitioners & Technical           0
occupation_Healthcare Support                             0
occupation_Installation Maintenance & Repair              0
occupation_Legal                                          0
occupation_Life Physical Social Science                   0
occupation_Management                                     0
occupation_Office & Administrative Support                0
occupation_Personal Care & Service                        0
occupation_Production Occupations                         0
occupation_Protective Service                             0
occupation_Retired                                        0
occupation_Sales & Related                                0
occupation_Student                                        0
occupation_Transportation & Material Moving               0
occupation_Unemployed                                     0
Coupon_est                                                0
Y                                                         0
dtype: int64

In [21]:
data_preprocessed = Final_df.dropna()

In [22]:
data_preprocessed['Y'].value_counts()

1    6877
0    5202
Name: Y, dtype: int64

In [23]:
data_preprocessed.shape

(12079, 60)

In [24]:
data_preprocessed['Y'].value_counts()

1    6877
0    5202
Name: Y, dtype: int64

In [25]:
data_preprocessed.to_csv('data-preprocessed.csv')